<!doctype html>
<html>
<head>
    <title>Dropbox file size view</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <!-- Tablesorter: required -->
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.blue.css') }}">
    <script src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script>

    <!-- Tablesorter: optional -->
    <!--<script src="http://mottie.github.io/tablesorter/addons/pager/jquery.tablesorter.pager.js"></script>-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <!--Progress bar-->
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}" />

    <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

    <script id="js">$(function() {

  // Taken from the documentation:
  // http://mottie.github.io/tablesorter/docs/example-parsers-advanced.html
  $.tablesorter.addParser({
    // set a unique id
    id: 'data',
    is: function(s) {
      // return false so this parser is not auto detected
      return false;
    },
    format: function(s, table, cell, cellIndex) {
      var $cell = $(cell);
      // I could have used $(cell).data(), then we get back an object which contains both
      // data-lastname & data-date; but I wanted to make this demo a bit more straight-forward
      // and easier to understand.

      // first column (zero-based index) has lastname data attribute
      if (cellIndex === 2) {
        // returns lastname data-attribute, or cell text (s) if it doesn't exist
        return $cell.attr('sortsize') || s;
      }
      // return cell text, just in case
      return s;
    },
    // set type, either numeric or text
    type: 'text'
  });

	// call the tablesorter plugin
	$("table").tablesorter({
	    theme : 'blue',
		// sort on the first column and third column in ascending order
		sortList: [[2,0]],
	    headers: {
          2 : { sorter: 'data' }
        },
	});

     // Very simple copy-paste, could be optimized...
$("div.progressbar").each(function() {
    var element = this;
    var value =  parseInt($(element).attr('value'));
  $(element).progressbar({
      value: value
  });
  });


	});


    </script>

    <script>
        // The Update mechanism for the AJAX implementation.
        updateFunction = function(uid, pathname) {
          $("#status").text("Refreshing...");
          $.getJSON($SCRIPT_ROOT + '/api/data_path', {
            uid: uid,
            pathname: pathname
          }, function(data) {
            $("#status").text("Displaying the content of "+data.dir_name);
            $("#result").text(data.dir_name);
            var table = $('<table></table>').addClass('tablesorter');
            //$("#dirs_table_body").children().remove();
            $(data.dir_content).each(function(index, element) {
              var elt = element;
              var c1 = '<a href="' + element.db_link + '">Link</a>';
              var c2 = '';
              if (element.is_dir == true) {
                c2 = '<b><a href="'+element.inner_link+'">'+
                  element.path+'</a></b>';
              } else {
                c2 = element.path;
              }
              var c3 = '<td sortsize="'+elt.size+'"><div class="progressbar" value="'+
              elt.normalizedsize+'"><div id="label">'+elt.display_size+
              '</div></div></td>';

              var row = "<tr>"+
              '<td  style="display: none;">' + c1 +"</td>"+
              "<td>" + c2 +"</td>"+
              c3+
              "</tr>";

              //table.append(row);

              $("#dirs_table_body").append(row);
            });
            //$("#dirs_div").append(table);
            $("#dirs_table").tablesorter();
            //$("#dirs_table").update();
          });

        }
    </script>
</head>
<body>

<div class=page>
    <h1>Dropbox file size view</h1>

    <div class=metanav>
        {% if not session.db_uid %}
        <!--<a href="{{ url_for('login') }}">Log in</a>-->
        {% else %}
        <a href="{{ url_for('logout') }}">Log out</a>
        {% endif %}
        {% if real_name %}
        <a href="{{ url_for('dropbox_unlink') }} " method="post">Unlink</a>
        {% endif %}
        {% if ajax_link %}
        <span id="ajax_link">[<a id="ajaxbutton" href="{{ajax_link}}">(DEV)ajax version</a>]</span>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
